

{% extends "admin_nav.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3  d-md-block bg-light sidebar">
            <div class="position-sticky">
                <h4>Category</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category_list'%}">All Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_category'%}">Add Category</a>
                    </li>
                </ul>
                <h4>Products</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allproducts'%}">All Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dataadd'%}">Add Products</a>
                    </li>
                    
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_supplier'%}">Add supplier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'supplier_list'%}">All supplier</a>
                    </li>
                    
                </ul>
                <h4>Orders</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Orders</a>
                    </li>
                </ul>
                <!-- Other sidebar items -->
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <button class="btn btn-light btn-lg col-5 m-2">totel sale</button>
            <button class="btn btn-light btn-lg col-5 m-2">totel sale</button>
            <button class="btn btn-light btn-lg col-5 m-2">totel sale</button>
            <button class="btn btn-light btn-lg col-5 m-2">totel sale</button>
            
            <!-- Banner, Discount, and more sections -->
        </main>
        
        
    </div>
</div>



{% endblock %}




