
{% extends "admin_nav.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-4">All Users</h1>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>Active Status</th>
                <th>Staf Status</th>
                <th>Action</th>
                

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address1 }}</td>
                <td>{{ user.address2 }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.is_staff }}</td>
                <td>
                    <a href="{% url 'block_user' user.id %}" class="btn btn-danger">Block</a>
                    <a href="{% url 'unblock_user' user.id %}" class="btn btn-success">Unblock</a>
                    <a href="{% url 'make_superuser' user.id %}" class="btn btn-warning">Make Superuser</a>
                    <a href="{% url 'remove_superuser' user.id %}" class="btn btn-danger">remove Superuser</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
