{% extends "admin_nav.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <h2>Delivery Status Management</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User Name</th>
                <th>Delivery Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate through orders and display each order with delivery status -->
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer.username }}</td>
                <td>{{ order.order_status }}</td>
                <td>
                    <!-- Form to change delivery status -->
                    
                    <form action="{% url 'update_delivery_status' order.id %}" method="POST">
                        {% csrf_token %}
                        <select class="form-control" name="status">
                            <option value="shipped">Shipped</option>
                            <option value="delivered">Delivered</option>
                            <option value="confirmed">Confirmed</option>
                            <option value="canceled">Canceled</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
