{% extends "navbar.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h1 class="text-center my-5" style="font-size: 36px; margin-bottom: 20px;">Welcome to the Used mobile Store</h1>
                <p class="text-center" style="font-size: 18px;">Find the perfect used iPhone at unbeatable prices.</p>
                <div class="banner-text text-center" style="background-image: url('/static/images/banner-image.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 100px 0; color: #fff; text-align: center;">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mobile-list">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 col-sm-12">
                <div class="mobile-card my-3 text-center">
                    <a href="{% url 'userside:product' product.product.id %}">
                        <img src="{{ product.product.image1.url }}" alt="{{ product.product.brand }} {{ product.product.modelname }}" class="img-fluid rounded col-12">
                    </a>
                    <h2>{{ product.product.brand }} - {{ product.product.modelname }}</h2>
                    <p>Storage: {{ product.product.storage }}</p>
                    <p>Color: {{ product.product.color }}</p>
                    <p> Price: ₹{{ product.original_price }}</p>
                    <p>Now: ₹{{ product.discounted_price }}</p>
                    <p id="success-message-{{ product.product.id }}" style="display: none;"></p>
                    <a href="{% url 'userside:product' product.product.id %}" class="btn btn-primary">Details</a>
                    <button class="add-to-cart-btn btn btn-primary" data-product-id="{{ product.product.id }}">Add to Cart</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include "all_ajax.html" %}

{% endblock %}